@import url('spectre.css');
@import url('variables.css');

body {
  font-family: "Roboto", sans-serif;
}

/* Square */

.square {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
}
.square.covered {
  /* background-image: linear-gradient(135deg, #ffffff 36.36%, #666666 36.36%, #666666 50%, #ffffff 50%, #ffffff 86.36%, #666666 86.36%, #666666 100%);
  background-size: 15.56px 15.56px; */
  background-color: transparent;
}
.square.covered .rect,
.square.covered .hstdown,
.square.covered .hstup {
  display: none;
}
/* .square.sashing .rect {
  stroke: transparent !important;
}
.square.sashing.sashing-crossed .rect {
  stroke: #ddd !important;
} */

.square.rect svg .hstdown,
.square.rect svg .hstup {
  display: none;
}
.square.hstdown svg .rect,
.square.hstdown svg .hstup {
  display: none;
}
.square.hstup svg .rect,
.square.hstup svg .hstdown {
  display: none;
}
.square.sashing svg .rect,
.square.sashing svg .hstup,
.square.sashing svg .hstdown {
  display: none;
}


.slider ul {
  display: flex;
}
.slider li {
  justify-content: center;
  list-style: none;
}
.slider img {
  width: 100px;
  height: 100px;
}
.bigblock {
  position: absolute;
  z-index: 10;
}

/* squares grid */

.grid-container {
  position: relative;
}
.bigblocks-container {
  position: absolute;
  top: 0;
  left: 0;
}

.squares-settings {
  padding: 0;
  border: none;
  display: block;
}
.colhead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}
.rowhead {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}
.colhead .squares-settings {
  height: 30px;
}
.rowhead .squares-settings {
  width: 30px;
}
.squares-settings button span,
.squares-settings > span {
  width: 0;
  height: 0;
  position: absolute;
  top: -9999px;
}
button.squares-settings,
.squares-settings > button {
  border: 2px solid #e3e3e3;
  border-radius: 3px;
}
.squares-settings.col-sashing,
.squares-settings.row-sashing {
  position: relative;
}
.squares-settings.col-sashing .switch-sashing {
  background: url(img/icon-s-wide-noborder.svg) no-repeat center center;
  width: 100%;
  height: 100%;
}
.squares-settings.row-sashing .switch-sashing {
  background: url(img/icon-s-high-noborder.svg) no-repeat center center;
  width: 100%;
  height: 100%;
}
.squares-settings.add-column {
  background: url(img/icon-plus-wide-noborder.svg) no-repeat center center;
}
.squares-settings.add-row {
  background: url(img/icon-plus-high-noborder.svg) no-repeat center center;
}
.squares-settings.delete-column {
  background: url(img/icon-minus-wide-noborder.svg) no-repeat center center;
}
.squares-settings.delete-row {
  background: url(img/icon-minus-high-noborder.svg) no-repeat center center;
}

/* SquareStyler and Color Settings
  ================================= */
.styling-dropdown {
  position: absolute;
  /* top: 60%;
  left: 60%; */
  z-index: 100;
  border-radius: 8px;
  display: none;
}
.styling-dropdown.active {
  display: block;
}
.popup {
  padding: 18px;
  background: rgba(240, 240, 240, 0.8); 
}
.styling-dropdown .card {
  position: relative;
}
.styling-dropdown .btn.btn-clear {
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
}
.styling-dropdown .card {
  padding-top: 0.7rem;
}
.styling-dropdown span,
.styling-dropdown .swatches-title {
 white-space: nowrap;
 font-size: var(--font_14px);
 margin-left: 2px;
}
.styling-dropdown input.square-type,
.styling-dropdown input.square-type:focus,
.styling-dropdown input.square-type:checked {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.form-radio input:checked + .form-icon::before  {
  content: none;
}
.styling-dropdown .form-icon {
  width: 1rem;
  height: 1rem;
  border-radius: 20%;
  border: 0.2rem solid transparent;
}
.styling-dropdown .form-radio input.square-type:checked + .form-icon, 
.styling-dropdown .form-radio input.square-type:focus + .form-icon {
  border-color: hsla(91, 99%, 42%, 0.6);
}
.styling-dropdown .form-radio.rect .form-icon,
.styling-dropdown .form-radio.rect input:focus + .form-icon,
.styling-dropdown .form-radio.rect input:checked + .form-icon {
  background: hsl(0, 0%, 60%) url(img/hst-squ.svg) no-repeat center center;
}
.styling-dropdown .form-radio.hst-down .form-icon,
.styling-dropdown .form-radio.hst-down input:focus + .form-icon,
.styling-dropdown .form-radio.hst-down input:checked + .form-icon {
  background: hsl(0, 0%, 60%)url(img/hst-down.svg) no-repeat center center;
}
.styling-dropdown .form-radio.hst-up .form-icon,
.styling-dropdown .form-radio.hst-up input.square-type:focus + .form-icon,
.styling-dropdown .form-radio.hst-up input.square-type:checked + .form-icon {
  background: hsl(0, 0%, 60%) url(img/hst-up.svg) no-repeat center center;
}
.styling-dropdown .form-radio.hst-bigblock .form-icon,
.styling-dropdown .form-radio.hst-bigblock input.square-type:focus + .form-icon,
.styling-dropdown .form-radio.hst-bigblock input.square-type:checked + .form-icon {
  background: hsl(0, 0%, 60%) url(img/hst-bigblock.svg) no-repeat center center;
}
.form-group.sashing-number {
  display: flex;
}
.sashing-number input {
  width: 4rem;
}
.sashing-number input,
.sashing-number button,
button.sashing-switch  {
  font-size: var(--font_14px);
}
.sashing-number button {
  margin-left: 0.25rem;
}
.explanation {
  font-size: var(--font_12px);
}
.styling-dropdown button.swatch,
.colors button.swatch,
.colors .swatch.current-color,
.colors .swatch.remove-color {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  opacity: 1;
  border: 2px solid transparent;
}
.colors .swatch.current-color,
.colors .swatch.remove-color {
  margin-right: 0.5rem;
  position: relative;
  top: 0.4rem;
}
.styling-dropdown button.swatch:focus,
.styling-dropdown button.swatch:active,
.colors button.swatch:focus,
.colors button.swatch:active {
  outline: none;
  transform: scale(1.2, 1.2);
}
.styling-dropdown .swatches,
.colors .swatches {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 6.25rem;
}
.styling-dropdown .swatches-group,
.colors .swatches-group {
  margin: 0.3rem 0;
}
.styling-dropdown .selected-gallery {
  margin: 0.5rem 0;
  width: 9rem;
}
.styling-dropdown .h6,
.colors .h6 {
  font-size: var(--font_13px);
  font-weight: 700;
  text-transform: uppercase;
}
.styling-dropdown.sashing .h6 {
  margin-top: 0.75rem;
}
.styling-dropdown.sashing .h6:first-child {
  margin-top: 0;
}
.styling-dropdown .bigblock-width {
  display: flex;
  padding: 0.3rem 0;
}
.bigblock-width  input {
  width: 3.5rem;
  margin-right: 0.25rem;
}
.bigblock-size {
  margin-top: 1.25rem;
}
.btn.add-color,
.btn.remove-color {
  font-size: var(--font_14px);
  background: #dadada linear-gradient(60deg, #cecccc 0%, #ddd 40%, #dadada 100%) no-repeat;
  border: 2px solid #c0c0c0;
  color: #2f2f2f;
}
.swatch-action {
  padding: 0.3rem 0;
  margin-bottom: 1rem;
}

/* Modal */
.modal:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}

/* SquareStyler */


/* Navigation */
.nav {
  display: flex;
  flex-direction: row;
}
.nav .btn.btn-link, .nav a {
  color: #3b4351;
  font-size: var(--font_14px);
  /*font-weight: 700;*/
  text-transform: uppercase;
}
.nav .btn.btn-link span {
  margin-left: 6px;
}

/* Premades Gallery */
.big-blocks,
.selected-blocks,
.selected-gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery .premade,
.selected-gallery .premade {
  width: 50px;
  margin: 5px;
  font-size: 0; 
}
.selected-gallery .premade.active {
  transform: scale(1.2);
}
.filters {
  margin-bottom: 0.5rem;
}
.form-select-title {
  font-size: var(--font_14px);
  text-transform: uppercase;
}
.gallery .h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-size: var(--font_14px);
  text-transform: uppercase;
  font-weight: 700;
}
.gallery.selected .h6 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}
